*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables Declaration  */

:root {
    --font-1: 'Orbitron';
    --font-2: 'Poppins';
}

/* Typography and custom css*/

h1 {
    font-size: 2.5rem;
    font-family: var(--font-1);
    margin: 1em 0;
}

h4 {
    font-size: 1.1rem;
    font-family: var(--font-2);
    color: grey;
    font-weight: 600;
    margin: 1em 0;
}

p {
    font-family: var(--font-2);
    font-size: 0.9rem;
    margin: 0.7em 0;
}

img {
    max-width: 100%;
}


/* Navigation section */

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0.5em;
}

nav>div>img {
    width: 60%;
}

.list {
    display: none;
    list-style: none;
    align-items: center;
    gap: 1.5em;
}

.button-group {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.search-icon>svg {
    max-width: 20px;
    padding-top: 0.3em;
}

.nav-button {
    padding: 0.1em 0.5em;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;

}

.nav-button:hover,
.nav-button:focus {
    cursor: pointer;
    background-color: black;
    color: white;
}


/* Hero Section  */


.hero-container {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items:center ;
}

.hero-container>div {
    order: -1;
}

.square {
    display: none;
}

.hero-container-right {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1.8em;
    order: 5;
    max-width: 550px;
    margin: 0 auto;
}

.button-email,
.button-join {
    padding: 0.5em 1em;
    margin-top: 1em;
    font-family: var(--font-1);
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 10px;
}

.button-email {
    color: grey;
    background-color: white;
    border: 2px solid black;
    margin-right: 1em;
}

.button-join {
    background-color: black;
    color: white;
    border: none !important;
    outline: none;

}

.contact-heading {
    margin: 2em 0;
    font-size: 1.5rem;
}

.icons {
    display: flex;
    gap: 1.5em;
}

.star{
    position: absolute;
    bottom:0;
    width: 10%;
    left: 0;
}

.globe{
    position: absolute;
    bottom: 0;
    width: 10%;
    right: 0px;
}

.hero-container>span>img {
    width: 70%;
}


@media (min-width:700px){
    .list{
        display: flex;
        font-family: var(--font-2);
        margin-right: 4em;
        font-size: 1.2rem;
    }

    .hero-container{
        flex-direction: row;
    }

    .hero-container-right{
        width: 80%;

    }
    .globe{
        right: 35%;
        top: 5%;
        width: 5%;
    }
    
    .star{
        right: 5%;
        top: 5%;
        width: 5%;
        left: unset;
    }
}


@media (min-width:1000px){

    .container{
        padding: 0 2em;
        position: relative;
    }

    .hero-container{
        padding-top: 4em;
    }
    
    .hero-container-right{
        max-width: 800px;
    }

    .hero-container>div>img{
        max-width: 350px;
    }

    .square{
        display: flex;
        position: absolute;
        top: 50%;
        z-index: -1;
        left: 10%;
    }
}



 